<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>웰컴 홈</title>
</head>
<body>

<h1>멤버 <span th:text="${name}"></span> 님 환영합니다. </h1>

<p><a href="/logout">로그아웃</a></p>

<h2>게시글 리스트</h2>

<table>
    <thead>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
    </thead>
    <tbody>
    <tr th:each="post: ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.member.name}"></td>
        <td th:text="${post.createdDt}"></td>
    </tr>
    </tbody>
</table>

</body>