<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>구글 OAuth로그인</title>
</head>
<body>

<h1>구글 Oauth 로그인</h1>
<a href="/oauth2/authorization/google">구글 로그인 (OAuth Client)</a>

<p>
    <a href="https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?response_type=code&client_id=712812801362-647pooav31sfa47lejk28vvgosvc585t.apps.googleusercontent.com&scope=openid%20profile%20email&state=ZmrKCu6bOxrYnBrvgeSRAJx6BGqANfhWPRQuAPB3UsU%3D&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Flogin%2Foauth2%2Fcode%2Fgoogle&nonce=Pb1YFpn5t5B2bwWHMYzkPhzLJeplXF7TQFZrw6mlWzE&service=lso&o2v=2&ddm=0&flowName=GeneralOAuthFlow">구글 로그인 </a>
</p>

</body>
</html>